*.aux
*.fls
*.lof
*.log
*.out
*.synctex.gz
*.synctex
*.blg
*.lot
*.bbl
*.fdb_latexmk
Thumbs.db
*.DS_Store
*.dvi
*.tiw
*.toc
*.dmp
*.bak
*.tps
*.tcp
*.asv
*.m~
*.spl

# NEMOH
~nemoh_runs/

# Tests
test_results/
test_results.pdf

# local sphinx build folder
docs/_build
